@media screen and (max-width:975px){

    header h1{
        font-size: 1.7em;
    }

    nav{
        padding: 0;
    }

    nav>#hamburguer{
        padding: 1em;
        display: block;
        text-align: center;
        background-color: #EBFBFF;
        color: black;
        cursor: pointer;
    }

    #hamburguer:hover{
        background-color: white;
    }
    
    nav a{
        display: block;
    }

    main{
        flex-flow: column wrap;
    }

    section#bloco_central{
        padding: 0;
    }

    div#pesquisar{
        margin-top: 15px;
    }

    .informações p{
        font-size: 15px;
    }
}
