@media screen and (max-width:975px){

    nav{
        padding: 0;
    }
    
    nav a{
        display: block;
    }

    main{
        flex-flow: column wrap;
    }

    section#bloco_central{
        padding: 0;
    }

    div#pesquisar{
        margin-top: 15px;
    }

    .informações p{
        font-size: 15px;
    }
}
